
<!DOCTYPE html>
<html lang='en'>

<head>
    <link rel="stylesheet" href="/stylesheets/homepage.css">
</head>

<body>

    <h1 class="homepage-styling-title">Welcome to Rent-A-Ride</h1>
    <h1 class="homepage-styling-h1">Please Login or Sign-Up via the link in the header to get started!</h1>
    <div class="img1"></div><br>
    <div class="img2"></div><br>


</body>


</html>

