<!DOCTYPE html>
<html lang='en'>

<head>
    <link rel="stylesheet" href="/stylesheets/homestyle.css">
</head>

<body>

    <h1 class="homepage-styling-title">Welcome to Rent-A-Ride</h1>
    <h1 class="homepage-styling-h1">Please Login or Sign-Up via the link in the header to get started!</h1>
    <div class="images">
        <div class="image-container">
            <img src="/assets/images/Christine.jpg" alt="">
            <img class="transition-image" src="/assets/images/Bullitt.jpg" alt="">
        </div>
        <div class="image-container">
            <img class="herbie" src="/assets/images/Herbie.jpg" alt="">
            <img class="transition-image" src="/assets/images/Lebowski.jpg" alt="">
        </div>
</body>


</html>