<head>
    <link rel="stylesheet" href="/stylesheets/vehicle.css">
</head>
<h1 class="vehicle-page-title">Choose a Rental</h1>
<ul class="vehicle-styling">
{{#each vehicles}}
    <li>{{vehicles}}</li>
{{/each}}
</ul>
{{!-- <ul class="vehicle-styling">
    {{#each vehicles}}
    <li>{{this}}</li>
    {{/each}}
</ul> --}}
{{!-- <div class="container">
    <div class="row">

        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">McFly</h5>
                <p class="card-text">
                    Make: Delorean<br>
                    Model: DMC-12
                    Year: 1981</p>
                <a href="" id="reserve" class="btn btn-primary">Reserve</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Smokey</h5>
                <p class="card-text">
                    Make: Pontiac<br>
                    Model: Trans Am
                    Year: 1977</p>
                <a href="" class="btn btn-primary">Reserve</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Bullitt</h5>
                <p class="card-text">
                    Make: Ford<br>
                    Model: Mustang
                    Year: 1968</p>
                <a href="" class="btn btn-primary">Reserve</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Vanisher</h5>
                <p class="card-text">
                    Make: Dodge<br>
                    Model: Challenger
                    Year: 1970</p>
                <a href="" class="btn btn-primary">Reserve</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Blues</h5>
                <p class="card-text">
                    Make: Dodge<br>
                    Model: Monaco
                    Year: 1974</p>
                <a href="" class="btn btn-primary">Reserve</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Mirthmobile</h5>
                <p class="card-text">
                    Make: AMC<br>
                    Model: Pacer
                    Year: 1976</p>
                <a href="" class="btn btn-primary">Reserve</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Herbie</h5>
                <p class="card-text">
                    Make: Volkswagen<br>
                    Model: Beetl
                    Year: 1963</p>
                <a href="" class="btn btn-primary">Reserve</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Lebowski</h5>
                <p class="card-text">
                    Make: Ford<br>
                    Model: Gran Torino
                    Year: 1973</p>
                <a href="" class="btn btn-primary">Reserve</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Ectomobile</h5>
                <p class="card-text">
                    Make: Cadillac<br>
                    Model: Meteor
                    Year: 1959</p>
                <a href="" class="btn btn-primary">Reserve</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Christine</h5>
                <p class="card-text">
                    Make: Plymouth<br>
                    Model: Fury
                    Year: 1958</p>
                <a href="" class="btn btn-primary">Reserve</a>
            </div>
        </div>
    </div>
</div> --}}


{{!-- <script src="/javascript/rental.js"></script> --}}
<script src="/javascript/logout.js"></script>

