* {
    box-sizing: border-box;
}

.img1 {
    background-image: url('/assets/images/Christine.jpg');
    max-width: 500px;
    height: 280px;
    background-size: cover;
    display: block;
    margin-top: 20px;


}

.img2 {
    background-image: url('/assets/images/Herbie.jpg');
    max-width: 500px;
    height: 310px;
    background-size: cover;
    display: block;
    margin-left: 45%;



}

.homepage-styling-title {
    margin-top: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.homepage-styling-h1 {
    margin-top: 20px;
    text-align: center;
}

image.pngimage.png html {
    font-size: 1rem;
}

/* col-sm */
@media screen and (min-witdh: 640px) {
    html {
        font-size: 1.2rem;
    }
}

/* col-md */
@media screen and (min-width: 768px) {
    html {
        font-size: 1.4rem;
    }
}

/* col-lg */
@media screen and (min-width: 992px) {
    html {
        font-size: 1.6rem;
    }
}

/* col-xl */
@media screen and (min-width: 1200px) {
    html {
        font-size: 1.6rem;
    }
}