* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: auto;
}

.login-page {
    display: flex;
    justify-content: center;

}

.user-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    border-radius: 2.5rem;
}

.login-form,
.signup-form {
    display: grid;
    grid-template-columns: min-content;
    text-align: center;
}

.login-header {
    background-image: url("/assets/images/Christine.jpg");
}

.signup,
.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#renter-signup,
#renter-login,
#email-login,
#password-login,
#username-signup,
#email-signup,
#password-signup {
    display: block;
    justify-content: center;
    border-radius: 25px;
}

label {
    color:burlywood;
    text-decoration-style: solid;
    text-size-adjust: 300px;
}

.btn-no-style {
border-radius: 25px;
}

button {
    border-radius: 25px;
}

.text-decoration-none-text-reset{
    text-decoration-style: solid;
}

.footer{
    color:burlywood;
    text-decoration-style: solid;
    text-size-adjust: 300px;
    text-align: center;
}

