body {
    background-image: url('/assets/images/BackgroundImage.jpeg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.logout-btn {
    border: 2px solid black;
    font-size: 16px;
}

.homepage-styling-title {
    color: white;
}

.homepage-styling-h1 {
    font-size: 20pt;
    color: white;
}

.vehicle-rental-link {
    font-size: 25px; 
    color: black;
}

.login-rental-link {
    font-size: 25px;
    color: black;
}
.login-form {
    align-items: center;

}